body{
    background-color: gray !important;
    color: aliceblue;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
    
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid whitesmoke !important;

}

.center{
    text-align: center;

}

footer img{
    height: 50px;
    width: 50px;
    text-align: center;
    border: 3px solid purple;
    border-radius: 50%;
}

footer{
    display: flex;
    text-align: center;
    justify-content: center;
}

footer a{
    margin: 20px;
    text-align: center;
}

footer p{
    margin-top: 2px;

}